
.testamonial-main-container {
    margin: 1rem;
    background: #E5F4FB;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 6rem 12rem;
    /* border: #fff; */
    /* border-width: 1rem; */
    border-radius: 2rem;
  }

.testamonial-text {
  text-align: center;
  color: #808080;
  width: 30rem;
  max-width: 30rem;
  margin: 0;
  font-weight: 200;
  padding: 0rem 0rem;
}


