*{
    font-size: 8px;
    text-align: center;
    color: grey;
    /* font-family: sans-serif; */
  font-family: sans-serif, "Dancing Script", cursive;
}

.testimonial-main-container {
  background-color: lightblue;
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
}


