* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f0f0;
}

.trusted-clients__text {
  /*div for all the text in this section*/

  display: flex;
  width: 25rem;
}

.clients__heading {
  /*only heading text inside trusted-clients_text div*/

  /*position: absolute;
  width: 218px;
  height: 39px;*/

  display: flex;
  align-items: center;
  justify-content: center;

  /*width: 40px;*/

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 150%;

  letter-spacing: -0.015em;

  color: #000000;
}

.clients__body {
  /*position: absolute;
width: 96px;
height: 18px;*/

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  letter-spacing: -0.01em;

  color: #000000;
}

.clients__images {
    display: flex;
    flex-direction: row;
    margin: 0 auto; 

    align-items: center;
justify-content: center;
}
